$bg-black: #181B22;
$bg-dark: #21242B;
$bg-dark-light: #2F333D;
$bg-chk: #282D36;
$stroke-inactive: #1F2734;
$stroke: #141C25;
$field-active: #272440;
$field-hover: #2C3646;
$text-black: #181B22;
$text-disabled: #262F3D;
$text-tertiary: #4F5562;
$text-primary: #858892;
$brand-color: #7B58E8;
$stroke-active: #7B58E8;
$green: #57D387;
$orange: #FF7A00;
$red: #F34949;
$base-font-size: 16px;

//design breakpoint
$design-mobile-width: 360px;
$design-tablet-width: 768px;
$design-laptop-width: 1024px;
$design-desktop-width: 1920px;

//frontend breakpoint
$mobile-w: 360px;
$tablet-w: 768px;
$laptop-w: 1024px;
$desktop-w: 1440px;