@import "tailwindcss";
html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

section {
  padding-top: 2.5rem;
  padding-bottom: 6.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  background: #181B22;
  font-family: "Inter", sans-serif;
  min-height: 100dvh;
}

main {
  flex: 1 1;
}

a {
  color: #7B58E8;
  transition: 0.3s;
}
a:hover {
  color: #4F5562;
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #7B58E8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(123, 88, 232, 0.8);
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}
@media (min-width: 1440px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2,
h3,
h4 {
  font-weight: 600;
  font-size: 1.5rem;
}

h5 {
  font-weight: 500;
  font-size: 1rem;
}

.caption_sm {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.caption_sm_b {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

.caption_xs {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.caption_xs_b {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.description_md {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.description_md_b {
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.description_sm {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
}

.description_xs {
  font-weight: 500;
  font-size: 0.5625rem;
  line-height: 0.75rem;
}

.field_sm {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.number_md {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.number_sm {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
}

.navigation_md {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.navigation_sm {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.button_md {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.text_md {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

.text_sm {
  font-size: 1rem;
  font-weight: 400;
}

.input {
  padding: 1.25rem;
  background: #21242B;
  color: #4F5562;
  border-radius: 0.5rem;
  border: 0.0625rem transparent solid;
  outline: none;
  transition: 0.3s;
}

.input:focus {
  border: 0.0625rem #7B58E8 solid;
  transition: 0.3s;
  background: #2F333D;
  color: #858892;
}

.input.filled {
  color: white;
}

input.error {
  border: 0.0625rem #F34949 solid;
  transition: 0.3s;
  background: #2F333D;
  color: #858892;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s !important;
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  background: #7B58E8;
  color: white;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #9E7FFF;
  transition: 0.3s;
}
button:active {
  background: #6948D2;
  transition: 0.3s;
}
button:disabled {
  opacity: 55%;
  transition: 0.3s;
  cursor: not-allowed;
}

a.active * {
  color: #7B58E8;
}