@use '../../styles/base/forward' as *;

.replenishment {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(32px);
    }

    &__stats {
        display: flex;
        gap: rem(8px);
        justify-content: space-between;
        width: 100%;
        max-width: rem(648px);

        @include onlymobile {
            max-width: 100%;
        }
    }

    &__stats_item {
        display: flex;
        gap: rem(12px);
        align-items: center;
        border-radius: rem(8px);
        padding: rem(12px);
        background: linear-gradient(90deg, #21242B 0%, rgba(33, 36, 43, 0.54) 100%);
        max-width: rem(320px);
        width: 100%;

        @include ifdesktop {
            justify-content: start;
        }

        @include onlymobile {
            justify-content: space-between;
            gap: 0;
            max-width: 100%;
        }
    }

    &__stats_item_wrapper {
        display: flex;
        flex-direction: column;
    }

    &__stats_title {
        color: $text-tertiary;
    }

    &__stats_value {
        color: white;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: rem(12px);
        max-width: rem(648px);
        width: 100%;

        @include onlymobile {
            max-width: 100%;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: rem(30px);
    }

    &__checkout_name {
        color: $text-primary;
    }

    &__checkout_value {
        color: $brand-color;
        font-weight: 600;
    }
}