@use './forward' as *;



html,
body {
    max-width: 100vw;
    scroll-behavior: smooth
}

section {
    padding-top: rem(40px);
    padding-bottom: rem(103px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    background: $bg-black;
    font-family: 'Inter', sans-serif;
    min-height: 100dvh;
}

main {
    flex: 1 1;
}

a {
    color: $brand-color;
    transition: 0.3s;

    &:hover {
        color: $text-tertiary;
        transition: 0.3s;
    }
}

::-webkit-scrollbar {
    width: rem(5px);
    height: rem(5px);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $brand-color;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba($brand-color, 80%);
}

h1 {
    font-weight: 600;
    font-size: rem(32px);

    @include ifdesktop {
        font-size: rem(40px);
    }

    @include iflaptop {
        font-size: rem(40px);
    }

    @include iftablet {
        font-size: rem(40px);
    }
}

h2,
h3,
h4 {
    font-weight: 600;
    font-size: rem(24px);

}

h5 {
    font-weight: 500;
    font-size: rem(16px);

}

.caption_sm {
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(24px);

}

.caption_sm_b {
    font-weight: 600;
    font-size: rem(16px);
    line-height: rem(24px);

}

.caption_xs {
    font-weight: 400;
    font-size: rem(13px);
    line-height: rem(16px);

}

.caption_xs_b {
    font-weight: 600;
    font-size: rem(13px);
    line-height: rem(16px);

}

.description_md {
    font-weight: 400;
    font-size: rem(15px);
    line-height: rem(24px);

}

.description_md_b {
    font-weight: 600;
    font-size: rem(15px);
    line-height: rem(24px);

}

.description_sm {
    font-weight: 500;
    font-size: rem(12px);
    line-height: rem(16px);

}

.description_xs {
    font-weight: 500;
    font-size: rem(9px);
    line-height: rem(12px);

}

.field_sm {
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(24px);

}

.number_md {
    font-weight: 600;
    font-size: rem(18px);
    line-height: rem(24px);

}

.number_sm {
    font-weight: 600;
    font-size: rem(12px);
    line-height: rem(16px);

}

.navigation_md {
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(24px);

}

.navigation_sm {
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(24px);

}

.button_md {
    font-weight: 500;
    font-size: rem(18px);
    line-height: rem(24px);

}

.text_md {
    font-weight: 400;
    font-size: rem(18px);
    line-height: rem(25px);
}

.text_sm {
    font-size: rem(16px);
    font-weight: 400;
}

.input {
    padding: rem(20px);
    background: $bg-dark;
    color: $text-tertiary;
    border-radius: rem(8px);
    border: rem(1px) transparent solid;
    outline: none;
    transition: 0.3s;
}

.input:focus {
    border: rem(1px) $stroke-active solid;
    transition: 0.3s;
    background: $bg-dark-light;
    color: $text-primary;
}

.input.filled {
    color: white;
}

input.error {
    border: rem(1px) $red solid;
    transition: 0.3s;
    background: $bg-dark-light;
    color: $text-primary;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button {
    background: $brand-color;
    color: white;
    border-radius: rem(12px);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: #9E7FFF;
        transition: 0.3s;
    }

    &:active {
        background: #6948D2;
        transition: 0.3s;
    }

    &:disabled {
        opacity: 55%;
        transition: 0.3s;
        cursor: not-allowed;
    }
}

a.active * {
    color: $brand-color
}